$font-family: 'Century Gothic', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif
$browsers: '', '-moz-', '-webkit-'
=transitions ($sec, $type: all, $accel: ease)
	@each $browser in $browsers
		#{$browser}transition: $type $sec $accel
=borderradius ($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius
$blue: #87e0ff
$pink: #ffa9de
=button($color: #989898)
	padding: .375rem
	display: inline-block
	background-color: $color
	border: 1px solid #000
	border-right-width: 2px
	border-bottom-width: 3px
	+borderradius(.25rem)
	+transitions(.3s)
	&:hover, &:focus
		background-color: darken($color, 8%)
button
	&.blue
		+button($blue)
	&.pink
		+button($pink)

*, *:before, *:after
	box-sizing: border-box
html, body
	font-family: $font-family
	padding: 0
	margin: 0

label.toggler
	cursor: pointer
	background-color: #fff
	font-size: 1.5rem
	width: 48px
	height: 48px
	line-height: 48px
	text-align: center
	border: 1px solid #345
	border-bottom-width: 2px
	+borderradius(50%)
	position: fixed
	left: 1rem
	top: 1rem
	display: none
#toggler
	display: none

header
	h1
		font-weight: 200
		text-align: center
main
	padding: 1rem
.bookforms
	position: fixed
	left: 1rem
	top: 8rem
	background-color: #fff
	section
		padding: 1rem
		border: 1px solid #345
		border-bottom-width: 2px
		display: block
		margin-bottom: 1rem
		+borderradius(1rem)
		h2
			margin: 0 0 1rem
	form
		.input, .input_inline
			// margin-bottom: .5rem
		label
			min-width: 64px
			display: inline-block
		input
			padding: .375rem
			margin-bottom: .5rem
			+borderradius(.5rem)
		button
			display: block
			width: 100%
			margin-bottom: .375rem
@media (max-width: 1024px)
	.bookforms
		top: 5rem
		left: -40rem
		+transitions(.3s)
	#toggler
		&:checked
			~
				main .bookforms
					left: 1rem
	label.toggler
		display: block
.bookshelves
	display: block
	section
		display: block
		text-align: center
		margin-bottom: 3rem
		border-bottom: 1px solid #acb
		h2
			font-size: 1rem
			font-weight: 200
		article
			display: inline-block
			margin-right: .625rem
			&:last-child
				margin-right: 0
			.book-info
				height: 0
				position: absolute
				overflow: hidden
				text-align: left
				background-color: #fff
				padding: 0
				border: 0
				border-bottom-width: 2px
				+borderradius(1rem)
				&:hover, &:focus
					border: 2px solid #345
					border-bottom-width: 4px
					height: auto
					padding: 1rem
				h3, p
					margin: 0 0 .375rem
			.bookie
				cursor: pointer
				width: 32px
				height: 108px
				border-width: 2px 4px 48px 2px 
				border-style: solid
				border-color: #789
				+borderradius(4px)
				&:hover, &:focus
					~
						.book-info
							height: auto
							padding: 1rem
							border: 2px solid #345
							border-bottom-width: 4px
				small
					transform: rotate(-90deg)
					display: block
					width: 48px
					overflow: hidden
					position: relative
					top: 20px
					left: -12px
					text-align: left
					white-space: nowrap
					